<div id="welcome">
  <div id="wrap">
    <%= image_tag "logo_start.png", :id => 'logo_start' %>
  </div>
</div>
<div id="Home">
  <div class="myphoto">
  </div>
  <div class="productbtn">
    <h1>Product Design</h1>
  </div>
  <div class="product-design">
  </div>
  <div class="mydescription">
    <h2>Dominik Dziamski</h2>
    <h3>Interior Design | Multimedia Art</h3>
  </div>
  <div class="photobtn" id='photobtn'>
    <h1>Photography</h1>
  </div>
  <div class="photography">
  </div>
</div>
