<%= javascript_include_tag('home.js') %>


<div id="welcome">
  <div id="wrap">
    <%= image_tag "logo_start.png", :id => 'logo_start' %>
  </div>
</div>
<div id="Home">
  <div class="myphoto">
  </div>
  <%= link_to simple_pages_products_path do%>
    <div id='productbtn'> <%# Hover effect hier einbauen%>
      <div class="productbtn">
        <h1>Product Design</h1>
      </div>
      <div class="product-design">
      </div>
    </div>
  <%end%>

<div id='test'>

  <div class="mydescription">
    <h2 class='name'>Dominik Dziamski</h2>
    <h3 class='name'>Interior Design | Multimedia Art</h3>
  </div>

  <%= link_to simple_pages_photography_path do%>
    <div id='photobtn'>  <%# Hover effect hier einbauen%>
      <div class="photobtn">
        <h1>Photography</h1>
      </div>
      <div class="photography">
      </div>
    </div>
  <% end %>
</div>

