// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container{ margin: 3% 2%; max-width: 96vw;}

.img-cont{ height: 180px; overflow: hidden; margin-top: 5%;
.img {width: 80vw;}
}

h1{ overflow: hidden;}

.product-img {position: absolute; bottom: 3em;} 

.headline {margin-top: 10em; }
.product-desc {margin-top: 1em;}
.product-location { margin-top: 33px;}

.main {padding-left: unset;}

.overall {padding-bottom: 1em; border-bottom: 1px solid;}

.carousel {
    margin: 100px 30vw;
    height: 30vw;
    width: 40vw;
    overflow: hidden;
    align-content: center;}

    .carousel-control-next, .carousel-control-prev {
    height: 30vw;
    &:hover {
        background-color: #fff;
        opacity: 0.7;
    }
}

.carousel-item img {
    width: 100%;
}

.preview-img {height: 80vh; width: 70vw; margin: 20px 0; }

.p {display: block;}

.center {margin: 100px 15vw; }

.product-body { position: absolute;}

.product-list {
    margin: 0 100px;
}