// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

%text-standard { font-family: 'Open Sans', sans-serif; font-size: 20px; text-decoration: none; color: #ececec; text-transform: none;}
%h-standard {font-family: 'Varela Round', sans-serif; text-decoration: none; text-transform: none;}
%footer-standard {position: fixed; bottom: 0; height: 30px;}
%btn {position: absolute; width: calc(50vw - 50px); height: 100px; z-index: 10; bottom: 30%;}
%btnhover {background-color: #fcf7f1; transition: 700ms;}

// welcomescreen setting
#welcome{z-index: 3;}
#logo_start{display: none; opacity: 0;}

// overall settings

body{background-color: #fcf7f1;}


h1 {font-size: 40pt; color: #ececec; @extend %h-standard;}
h2 {@extend %text-standard; font-size: 40pt; color: #eccba7;}
h3 {@extend %h-standard; font-size: 17pt; letter-spacing:0; color: #ececec}

p {@extend %text-standard;}

nav { position: fixed; top: 0; float: right; margin-right: 100px; z-index: 2;
  ul{ float: left;
    li{ display: inline; margin-left: 10px; :hover{text-decoration: none; color: #0b1215; }
      a{@extend %text-standard;}
    }
  }
}

#Home {position: relative; z-index: 1;}

.myphoto { position: absolute; bottom: calc(30% + 100px); margin-left: 100px; width: calc(50vw - 150px); height: 50%; z-index: 4; background-image: image-url("DD.png"); background-size: cover;}
.mydescription { position: absolute; bottom: calc(30% + 100px);right: 0; margin-right: 100px; width: calc(50vw - 150px); height: 50%; z-index: 4; background-image: image-url("background-pattern.png");
h2 { margin-top: 20%; margin-right: 10%; float: right;}
h3 {float: right; margin-right: 10%}
}

.productbtn{@extend %btn; left: 0;background-color: #887762;
h1 {float: right; margin-right: 30px; margin-top: 30px;}
}

.productbtn:hover {@extend %btnhover; h1{color:#887762;}}
.photobtn:hover {@extend %btnhover; bottom: 60%; h1{color: #4b7d8d;}}

.photobtn{@extend %btn; right: 0; background-color:#4b7d8d;
h1 {margin-left: 30px; margin-top: 30px;}
}
.product-design{position: absolute; bottom: 30px; margin-left: 100px; width: calc(50vw - 150px); height: 30%; z-index: 5; background-image: image-url("back-product.png"); background-size: cover;}
.photography{position: absolute; bottom: 30px;right: 0; margin-right: 100px; width: calc(50vw - 150px); height: 30%; background-image: image-url("back-photo.png"); background-size: cover; z-index: 5;}



footer {@extend %footer-standard; width: 100vw; height: 30px; border-top: solid .5px; border-color: #0b1215; z-index: 2;
  #a{@extend %footer-standard; position: unset; text-decoration: unset; color: #0b1215; margin-left: 30px; font-size: 15px; :hover{color: white;}}
  p{@extend %footer-standard; right:100px; color:#0b1215; font-size: 15px; margin-bottom: -4px;}
  #impressum {margin-left: 100px; color: #0b1215;}:hover{text-decoration: none;}
}
